
body {
    background-color: #ebebe0;
    background-size: 500px 500px;
    padding: 15px 15px 15px 15px;
    height: 500px;
    width: 500px;
}
#inout-username, #input-groupname {
	padding-top: 15px;
	padding-bottom: 15px;
}