body {
    padding: 15px 15px 15px 15px;
    height: 500px;
    width: 600px;

    overflow-x: scroll;
}

.popupTitle {
    text-align: center;
    width: 350px;
    float: right;
    margin-top: -60px;
}
#popupTitle {
    font-style: italic;
    font-weight: bold;
}

.btnJoinLeaveHolder {
    float: right;
    margin-right: -190px;
    margin-top: 15px;
}

.btnJoinLeave {
    width: 80px;
}

.tableTitle {
    margin-top: -10px;
    margin-bottom: 5px;
    font-weight: bold;
}

#BookmarksTitle {
    font-weight: bold;
}

.bookmarkLink {
    min-width: 300px;
    max-width: 300px;

    overflow-x: hidden;

    vertical-align: middle;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

#inout-username, #input-groupname {
	padding-top: 15px;
	padding-bottom: 15px;
}

.divDelBookmark {
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background-color: #e7e7e7;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
.divDelBookmark:hover {
    background-color: #cccccc;
}
.divDelBookmark:active {
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 4px;
    background-color: #adadad;
}
